/*
 * Main styling
 */

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    height: 100vh;
    max-width: 100vw;
    margin: 0;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EFEFEF;
    color: #111111;
}

body * * {
    padding: 0.25vw;
}

a {
    text-decoration: none;
}

/*
 * Nav bar
 */

nav {
    display: flex;
    align-items: center;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.2);
}
nav .logo {
    display: flex;
    height: 100%;
    align-items: center;
}
nav .logo p {
    font-weight: bold;
}
nav .logo img {
    height: 75%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    padding: 0;
}

/*
 * Main content styling (in between nav/footer)
 */

main {
    box-sizing: border-box;
    display: flex;
    flex: 1 0 auto;
    align-items: flex-start;
    min-width: 0;
}

/*
 * Footer styling
 */

footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    min-height: 10%;
    flex-shrink: 0;
    text-align: center;
    align-content: center;
}

footer #footer-logo {
    height: 64px;
    width: auto;
}